@use 'core/normalize';
@use 'core/fonts';
@use 'core/variables' as v;
@use 'core/mixins' as m;
@use 'core/global';
@use 'core/utils';

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #ffffff;
	color: var(--color-main);
}

.mySwiper {
	width: 100%;
	height: 100dvh;
	position: relative;

	.swiper-slide {
		width: 100%;
		height: 100%;
		padding: 70px;
		overflow: hidden;

		@include m.down(md) {
			padding: 24px;
		}
	}
	--swiper-navigation-size: 0;

	.swiper-pagination-progressbar {
		background: rgba(102, 102, 102, 0.4);

		.swiper-pagination-progressbar-fill {
			background: #1d1d1b;
		}
	}

	.swiper-pagination-progressbar {
		background: rgba(102, 102, 102, 0.4);

		.swiper-pagination-progressbar-fill {
			background: #1d1d1b;
		}

		&.swiper-pagination-vertical {
			width: 2px;
			height: 100%;
			top: 0;
			left: auto;
			right: 5px;

			@media (min-width: 768px) {
				right: 15px;
			}
		}
	}
}

.first__slide {
	width: 100%;
	height: 100%;
	position: relative;
	@include m.flex(column, center, center, 0);

	.logo {
		max-width: 800px;
	}

	.underlogo__text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		font-size: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 25px;

		&:first-child {
			color: var(--color-dark);
		}

		@include m.down(md) {
			flex-direction: column;
			gap: 15px;
		}
	}
}

.second__slide {
	h3 {
		font-size: 1.5rem;
		color: var(--color-dark);
	}

	.second__slide-column {
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.second__slide-list {
		margin-block: 10px;

		.second__slide-item {
			font-size: 1.3rem;
			margin-bottom: 5px;
			display: flex;
			justify-content: space-between;
			max-width: 700px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.third__slide {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;

	h2 {
		font-size: 11rem;
	}
}

.fourth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;

	&-info {
		font-size: 1.5rem;
		max-width: 60vw;
		align-self: center;
		margin: auto 0;
	}

	.current-page {
		margin-top: auto;
	}
}

.fifth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;

	&-info {
		font-size: 1.5rem;
		max-width: 60vw;
		align-self: center;
		margin: auto 0;
	}

	.current-page {
		align-self: flex-end;
	}
}

.sixth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;

	&-info {
		max-width: 65vw;
		display: flex;
		flex-direction: column;
		gap: 60px;
		margin: auto;

		span {
			font-size: 2rem;
			color: var(--color-dark);
		}

		p {
			font-size: 1.5rem;
		}
	}

	.current-page {
		margin-top: auto;
	}
}

.seventh__slide {
	display: flex;
	flex-direction: column;
	height: 100%;

	&-info {
		margin: 0 auto;
	}

	&-img {
		max-width: 1150px;
		max-height: 70vh;
		overflow: hidden;
		margin: 0 auto;

		img {
			object-position: 0 -500px;
		}
	}

	h2 {
		font-size: 2rem;
		margin-top: 35px;
	}

	.current-page {
		align-self: end;
		margin-top: auto;
	}
}

.eighth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;

	&-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 60px;
		max-width: 55vw;
		margin: auto;

		p {
			font-size: 1.5rem;
		}
	}

	&-img {
		width: max-content;
	}
}

.ninth__slide {
	height: 100%;
	display: flex;
	flex-direction: column;

	&-info {
		display: flex;
		flex-direction: column;
		gap: 40px;
		font-size: 1.5rem;
		max-width: 60vw;
		margin: auto;

		p:first-child {
			color: var(--color-dark);
		}

		img {
			object-fit: none;
		}
	}

	.current-page {
		align-self: end;
		margin-top: auto;
	}
}

.tenth__slide {
	height: 100%;
	display: flex;
	flex-direction: column;

	&-info {
		display: flex;
		flex-direction: column;
		gap: 30px;
		font-size: 1.5rem;
		margin: 0 auto;

		img {
			max-width: 1200px;
		}
	}

	.current-page {
		margin-top: auto;
	}
}

.eleventh__slide {
	display: flex;
	flex-direction: column;
	height: 100%;

	p {
		margin: auto;
		font-size: 1.5rem;
		max-width: 50vw;
		color: var(--color-dark);
	}

	.current-page {
		align-self: end;
		margin-top: auto;
	}
}

.tenth__slide {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;

	h2 {
		font-size: 11rem;
	}
}

.eleventh__slide {
	height: 100%;
	display: flex;
	flex-direction: column;

	&-info {
		display: flex;
		flex-direction: column;
		gap: 50px;
		font-size: 1.5rem;
		max-width: 70vw;
		margin: auto;
	}

	img {
		max-width: 450px;
		margin: 0 auto;
	}
}

.twelfth__slide {
	height: 100%;
	display: flex;
	flex-direction: column;

	&-info {
		display: flex;
		flex-direction: column;
		gap: 50px;
		font-size: 1.5rem;
		max-width: 70vw;
		margin: auto;
	}

	&-setka {
		max-width: 500px;
		margin: 0 auto;
	}

	&-list {
		display: flex;
		gap: 15px;
		margin-left: 180px;
	}
}

.thirteenth__slide {
	height: 100%;
	display: flex;
	flex-direction: column;

	&-info {
		display: flex;
		flex-direction: column;
		gap: 50px;
		font-size: 1.5rem;
		max-width: 70vw;
		margin: auto;

		img {
			max-width: 600px;
			margin: 0 auto;
		}
	}

	.current-page {
		align-self: end;
		margin-top: auto;
	}
}
