@use 'core/normalize';
@use 'core/fonts';
@use 'core/variables' as v;
@use 'core/mixins' as m;
@use 'core/global';
@use 'core/utils';

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #ffffff;
	color: var(--color-main);
}

.mySwiper {
	width: 100%;
	height: 100dvh;
	position: relative;

	.swiper-slide {
		width: 100%;
		height: 100%;
		padding: 70px;
		overflow: hidden;

		@include m.down(md) {
			padding: 24px;
		}
	}
	--swiper-navigation-size: 0;

	.swiper-pagination-progressbar {
		background: rgba(102, 102, 102, 0.4);

		.swiper-pagination-progressbar-fill {
			background: #1d1d1b;
		}
	}

	.swiper-pagination-progressbar {
		background: rgba(102, 102, 102, 0.4);

		.swiper-pagination-progressbar-fill {
			background: #1d1d1b;
		}

		&.swiper-pagination-vertical {
			width: 2px;
			height: 100%;
			top: 0;
			left: auto;
			right: 5px;

			@media (min-width: 768px) {
				right: 15px;
			}
		}
	}
}

.first__slide {
	width: 100%;
	height: 100%;
	position: relative;
	@include m.flex(column, center, center, 0);

	.logo {
		max-width: 800px;
	}

	.underlogo__text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		font-size: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 25px;

		p:first-child {
			font-weight: 200;
		}

		@include m.down(md) {
			flex-direction: column;
			gap: 15px;
		}
	}
}

.second__slide {
	h3 {
		font-size: 1.5rem;
		font-weight: 200;
	}

	.second__slide-column {
		margin-bottom: 25px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.second__slide-list {
		margin-block: 10px;
		.second__slide-item {
			font-size: 1.3rem;
			margin-bottom: 5px;
			display: flex;
			justify-content: space-between;
			max-width: 700px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.third__slide {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	h2 {
		font-size: 11rem;
	}
}

.fourth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;
	.fourth__slide-info {
		font-size: 1.5rem;
		max-width: 60vw;
		align-self: center;
		margin: auto 0;
	}
	.current-page {
		margin-top: auto;
	}
}

.fifth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;
	.fifth__slide-info {
		font-size: 1.5rem;
		max-width: 60vw;
		align-self: center;
		margin: auto 0;
	}
	.current-page {
		align-self: flex-end;
	}
}

.sixth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;
	.sixth__slide-info {
		max-width: 65vw;
		display: flex;
		flex-direction: column;
		gap: 60px;
		margin: auto;
		span {
			font-size: 2rem;
			font-weight: 200;
		}
		p {
			font-size: 1.5rem;
		}
	}
	.current-page {
		margin-top: auto;
	}
}

.seventh__slide {
	display: flex;
	flex-direction: column;
	height: 100%;
	.seventh__slide-info {
		margin: 0 auto;
		font-weight: 200;
	}
	.seventh__slide-img {
		max-width: 1150px;
		max-height: 70vh;
		overflow: hidden;
		margin: 0 auto;
		img {
			object-position: 0 -500px;
		}
	}
	h2 {
		font-size: 2rem;
		margin-top: 35px;
	}
	.current-page {
		align-self: flex-end;
		margin-top: auto;
	}
}

.eighth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;
	.eighth__slide-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 60px;
		max-width: 55vw;
		margin: auto;
		p {
			font-size: 1.5rem;
		}
	}
	.eighth__slide-img {
		width: max-content;
	}
	.current-page {
		align-self: flex-end;
		margin-top: auto;
	}
}

.ninth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;

	.ninth__slide-info {
		display: flex;
		flex-direction: column;
		gap: 40px;
		font-size: 1.5rem;
		max-width: 60vw;
		margin: auto;

		p:first-child {
			font-weight: 200;
		}
	}

	.current-page {
		align-self: flex-end;
		margin-top: auto;
	}
}

.tenth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;
	.tenth__slide-info {
		display: flex;
		flex-direction: column;
		gap: 30px;
		font-size: 1.5rem;
		margin: auto;
		img {
			max-width: 1200px;
		}
	}
	.current-page {
		margin-top: auto;
	}
}

.eleventh__slide {
	display: flex;
	flex-direction: column;
	height: 100%;
	p {
		margin: auto;
		font-size: 1.5rem;
		max-width: 50vw;
		font-weight: 200;
	}
	.current-page {
		align-self: flex-end;
		margin-top: auto;
	}
}

.twelfth__slide {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	h2 {
		font-size: 11rem;
	}
}

.thirteenth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;
	.thirteenth__slide-info {
		display: flex;
		flex-direction: column;
		gap: 50px;
		font-size: 1.5rem;
		max-width: 70vw;
		margin: auto;
		img {
			max-width: 450px;
			margin: 0 auto;
		}
	}
	.current-page {
		align-self: flex-end;
		margin-top: auto;
	}
}

.fourteenth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;
	.fourteenth__slide-info {
		display: flex;
		flex-direction: column;
		gap: 50px;
		font-size: 1.5rem;
		max-width: 70vw;
		margin: auto;
	}
	.fourteenth__slide-setka {
		max-width: 500px;
		margin: 0 auto;
	}
	.fourteenth__slide-list {
		display: flex;
		gap: 15px;
		margin-left: 180px;
	}
	.current-page {
		margin-top: auto;
	}
}

.fifteenth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;
	.fifteenth__slide-info {
		display: flex;
		flex-direction: column;
		gap: 50px;
		font-size: 1.5rem;
		max-width: 70vw;
		margin: auto;
		img {
			max-width: 600px;
			margin: 0 auto;
		}
	}
	.current-page {
		align-self: flex-end;
		margin-top: auto;
	}
}

.sixteenth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;
	.sixteenth__list {
		display: flex;
		flex-direction: column;
		gap: 50px;
		margin: auto 0;
	}
	.sixteenth__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 25px;
		&-inner {
			max-width: 1000px;
			display: flex;
			flex-direction: column;
			gap: 30px;
		}
		h3 {
			font-size: 5rem;
			font-weight: 200;
			color: var(--color-dark);
		}
		p {
			font-size: 1.6rem;
			font-weight: 200;
		}
		span {
			font-weight: 200;
			color: var(--color-dark);
		}
	}
	.sixteenth__item:last-child {
		h3 {
			font-family: 'cochin', 'manrope';
			font-size: 7rem;
		}
	}
	.current-page {
		margin-top: auto;
	}
}

.seventeenth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;
	.seventeenth__slide-info {
		display: flex;
		flex-direction: column;
		gap: 15px;
		font-size: 1.5rem;
		max-width: 50vw;
		margin: auto;
	}
	.current-page {
		align-self: flex-end;
		margin-top: auto;
	}
}

.eighteenth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;

	&-info {
		display: flex;
		flex-direction: column;
		gap: 30px;
		font-size: 1.5rem;
		max-width: 60vw;
		margin: auto;
	}

	.current-page {
		margin-top: auto;
	}
}

.nineteenth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;

	&-info {
		display: flex;
		flex-direction: column;
		gap: 40px;
		font-size: 1.5rem;
		max-width: 65vw;
		margin: auto;
	}

	&-list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-left: auto;
	}

	&-img {
		max-width: 600px;
	}

	.current-page {
		align-self: flex-end;
		margin-top: auto;
	}
}

.twentieth__slide {
	display: flex;
	flex-direction: column;
	height: 100%;

	&-info {
		display: flex;
		flex-direction: column;
		gap: 40px;
		font-size: 1.5rem;
		max-width: 65vw;
		margin: auto;
	}

	&-list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-left: auto;
	}

	&-img {
		max-width: 600px;
		margin: 0 auto;
	}

	.current-page {
		margin-top: auto;
	}
}

.twenty_first__slide {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;

	h2 {
		font-size: 11rem;
	}
}

.twenty__second-slide {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 40px;

	.twenty__second-slide__text {
		font-size: 1.5rem;
		max-width: 60vw;
		margin: auto;
	}

	.twenty__second-slide__images {
		display: flex;
		flex-wrap: wrap;
		gap: 80px;
		justify-content: center;
	}

	.twenty__second-slide__img {
		max-width: 530px;
	}

	.current-page {
		margin-top: auto;
	}
}

.twentythird__slide {
	height: 100%;
	display: flex;
	flex-direction: column;

	&-list {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 20px;
		margin: auto;
		max-width: 1500px;
	}

	.twentythird__item:first-child {
		grid-row: span 2;
	}

	.twentythird__item img {
		width: 100%;
		height: 100%;
	}

	.current-page {
		align-self: end;
		margin-top: auto;
	}
}

.twentyfourth__slide {
	height: 100%;
	display: flex;
	flex-direction: column;

	&-info {
		display: flex;
		flex-direction: column;
		gap: 20px;
		font-size: 1.5rem;
		max-width: 65vw;
		margin: auto;
	}

	&-list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;
		margin-top: 30px;

		.twentyfourth__slide-item {
			max-width: 350px;
		}
	}

	.current-page {
		margin-top: auto;
	}
}

.twentyfifth__slide {
	height: 100%;
	display: flex;
	flex-direction: column;

	&-list {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 20px;
		margin: auto;
		max-width: 1500px;
	}

	.twentyfifth__item:first-child {
		grid-row: span 2;
	}

	.twentyfifth__item img {
		width: 100%;
		height: 100%;
	}

	.current-page {
		align-self: end;
		margin-top: auto;
	}
}
