@use '../core/variables' as v;
@use '../core/mixins' as m;

*::selection {
	background: rgb(157, 222, 255);
	color: var(--color-dark);
}

body {
	font-family: var(--main-font);
	color: var(--color-dark);
	font-weight: 100;
}

a {
	color: var(--color-light);
	opacity: 0.9;
	transition-duration: v.$transition-duration;

	@include m.hover {
		opacity: 1;
	}
}

button,
a,
img {
	user-select: none;
	-webkit-user-select: none;
}

img {
	-webkit-user-drag: none;
}

.title {
	font-size: 2rem;
	margin-bottom: 20px;
	font-weight: 200;
}

.current-page {
	font-size: 1.5rem;
	font-weight: 200;
}

.justify {
	text-align: justify;
}
